{% extends 'base.html.twig' %}

{% block body %}
    <table>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
